- var sectionTitle = data['open-sources'].sectionTitle
include ../section-title/section-title.pug
//-pre= JSON.stringify(data, null, 2) 
.column(span="row")
  .ab__stat=data['open-sources'].stats.nameTI
  ul.ab__stats__stat-list
    each stat in data['open-sources'].stats.stat
      li.ab__stat-item
        span.ab__stat-icon
          i(class=`icon__${stat.statIcon}`)
        .ab__statDetalii
          each info in stat.statDetalii 
            p=info