.burger {
  position: sticky;
  top: 50px;
  right: 50px;
  top: 675px;
  left: 999px;
  z-index: 2;
  border: 2px solid grey;
  background: white;
  margin-right: 2px;
  height: 24px;
  padding-left: 8px;
  margin-left: 30px;
  padding-top: 1px;
  border-radius: 5px;
}
