.icon__menu {
  border: 2px solid grey;
  margin-right: 2px;
  height:38px;
  border-radius: 5px;
  right: 13vw;
  background-color: white;
  padding: 8px;
  position: fixed;
  right: 33px;
  top: 91px;
}

.menu__list {
  @extend %rounder-border-list;
  display: none;
  list-style: none;
  background-color: white;
  font-size: 19px;
  font-weight: 500;
  position: fixed;
  top: 90px;
  left: 150px;
  width: 200px;
}

#burger {
  display: none;

  &:checked + ul.menu__list {
    display: block;
  }

  &:checked + ul.menu__list + label {
    .icon__menu {
      display: none;
    }
  }
}

menu__item {
  line-height: 30px;
  text-decoration: none;


  & .menu__item {
    display: block;
    padding: 10px 20px 0 10px;
  }
}

.menu__item {
  line-height: 30px;

  & .menu__link {
      display: block;
      padding: 10px 10px 0 10px;
     }
}
  
.menu__close,
.menu__link,
.menu__item,
.menu__link:visited,
.menu__link:active {
    text-decoration: none;
    color: #808080;
}

.menu__close:hover,
.menu__item:hover,
.menu__link:hover {
  color: white;
  background-color: #ff006d;
}

.menu__close {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px 0 10px;
}

.x {
  color: black; 
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 6px;
}

.meniu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999999999999;
}
