.project__image {
  background-size: cover;
  width: 100px;
  height: 100px;
}

.recent__projects {
  background-color: white;
  @extend %rounder-border-list;
  color: #707070;
  position: relative;
  margin-bottom: 0;
  margin-top: 40px;
}

.old__projects {
  background-color: white;
  @extend %rounder-border-list;
  color: #707070;
  position: relative;
  margin-bottom: 14px;
}

.project__image {
  width: 100%;
  height: 100px;
  padding: 3px;
  padding-bottom: 0;
  border-top: 2px solid #707070;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: -40px;
  position: relative;


  & i[class^="icon__"] {
    @extend %button-pink;
  }
}

.recent__projects-text {
  line-height: 20px;
  font-size: 12px;
  font-style: italic;
  padding: 0 20px 10px 20px;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 20px;
}

.recent__projects-skills {
  line-height: 20px;
  font-size: 12px;
  font-style: italic;
  padding: 0 20px 2px 20px;
}

.data__proiect {
  @extend %subtitle;
}
