- var sectionTitle = data.portfolio.sectionTitle
include ../section-title/section-title

.column(span="row" height="10")
.column(span="row")
  .data__stat=data.portfolio.mainTitle
    //- ul.portfolio_box 
    //-   each project in data.portfolio.projectName

.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
