- var sectionTitle = data.proud.sectionTitle
include ../section-title/section-title.pug

#proud
.column(span="row")
  .about-me__more-title=data.proud.proud
.column(span="row")
.column(span="row")
  .box__reviews
    each item in data.proud.proudList
      ul
        .box__text
          li.lista
            .texte
              .date=item.date
              .award=item.award
              .location=item.location
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
