.box__reviews {
  font-size: 12px;
  color: #707070;
  font-weight: 600;
  line-height: 30px;
  @extend %rounder-border-list
}

.location,
.award {
  font-style: italic;
  padding-right: 10px;
  padding-left: 10px;
}
.box__text {
  @extend %list-item;
}

.award {
  font-weight: normal;
}

.lista {
  list-style: none;
}

.date {
  padding-left: 620px;
}

.box__reviews {
  border-top: 0;
}

.texte {
  margin: auto;
}
