#other-side
- var sectionTitle=data.proud.sectionTitle
include ../section-title/section-title.pug

.proud-content
  .column(span="row")
    .proud__subtitle=data.proud.subtitle
    .hobby__list
      each hobby in data.proud.hobby
        .hobby__item
          .hobby__type=hobby.hobbyType 
          .hobby__description=hobby.description

.column(span="row")
  .upside-down
    a.disc__green(href="/#about-me")
      i.icon__arrow-down
