- var { sectionTitle } = data.experienta
include ../section-title/section-title

.column(span="row" height="10")
.column(span="row")
  ul.lista__experienta
    each serviciu in data.experienta.experienceList
      li=serviciu.jobRole
.column(span="row" height="10")
.column(span="row")
  button.circle-green
    i.icon__arrow-down
.column(span="row" height="10")