.lista__experienta {
  @extend %rounded-border-list;
}

.element__experienta {
  @extend %list-item;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.chevron__experienta {
  grid-column: 3/4;
}

.chevron__experienta,
.logo-firma__experienta {
  grid-row: 1/3;
}

.titlu-job__experienta {
  grid-column: 2/3;
  grid-row: 1/2;
}

.nume-companie__experienta {
  grid-column: 2/3;
  grid-row: 2/3;
}

.content__experienta {
  grid-column: 1/-1;
}
