.section-title Welcome to My Cv 
button.disc
    i.icon_youtube 
    span.button-text YT 

h1 Paul Nicolae Geambazu
h2 Junior Web Developer 
h3 About me 
.desription-box__with-shadow 
    p      A dynamic and enthusiastic person focused on developing a career in the electro mechanic field. I am willing to improve my technical skills and to achieve greater knowledge about the industrial technological processes.
button.pill 
    i.icon__download 
    span.button-text Download Cv 

