//- //-the data comes here
//- -
//-   var show="Show message"
//-   var hide="Hide message"
//-   var descriptionList=[
//-       "Your screen is in landscape mode",
//-       "To view the website at its best you can: "
//-   ]

//-   var itemList=[
//-       "Rotate your device in portrait mode", 
//-       "Resize your browser to portrait", 
//-       "Ignore all the above and hide this message"
//-   ]

//-the view comes here
//- input.portrait__input(type="checkbox", id="portrait")
//- .portrait
//-     label.portrait__button(for="portrait")
//-       button.disc__green
//-         i.icon__arrow-down
//-     .portrait__body
//-       a.youtube__video(href="https://www.youtube.com/watch?v=0VvTBwJQMoQ&t=15s" target="_blank")
//-         img(src="asset/image/youtube.png", alt="")

