%rounder-border-list { 
  border: 2px solid #707070;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 6px;
  list-style-type: none;
}

%description-box {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 6px;
}

%subtitle {
  font-size: 22px;
  font-weight: 500;
  color: #808080;
  margin-top: 20px;
  margin-bottom: 10px;
}

%list-item {
  border-top :2px solid #707070;
}
