%rounder-border-list {
  border: 2px solid #707070;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 6px;
  list-style-type: none;
  
  :not(:first-child):not(:last-child) {
    border-top: 0;
  }
}

%description-box {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 6px;
}

%subtitle {
  font-size: 22px;
  font-weight: 500;
  color: #808080;
  margin-top: 20px;
  margin-bottom: 10px;
}

%list-item {
  border-top: 2px solid #707070;
}

%pill-blue {
  height: 40px;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 20px auto;
  font-size: 10px;
  background-color: #1875f0;
  display: flex;
  justify-content: center;
  color: white;
  border: 0;
  font-weight: 900;
}

%button-pink {
  cursor: pointer;
  background-color: #ff006d;
  height: 40px;
  width: 40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

%project-name {
  font-size: 13px;
  font-weight: 700;
  padding: 10px 20px;
}

%skills-list {
  line-height: 20px;
  font-size: 12px;
  font-style: italic;
  padding: 0 20px 10px 20px;
}

%box-with-arrow {
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  background-color: white;
  margin: 25px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    background-color: white;
    top: -7px;
    left: 15px;
    clip-path: polygon(-6px -6px, 100% 0, 0 100%);
    transform: rotate(45deg);
  }
}

%descriptive-subcolumn {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #808080;
}


%box__header {
  font-weight: 500;
  font-size: 14px;
  color: #808080;
  margin: 25px 0 20px 0;
  padding: 20px;
  line-height: 30px;
  border-radius: 6px;
  background-color: white;
  margin: 25px 0;
  position: relative;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    top: -7px;
    left: 15px;
    clip-path: polygon(-6px -6px, 100% 0, 0 100%);
    transform: rotate(45deg);
  }
}


%box__with-arrow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background-color: white;
  position: relative;
  margin-top: 1rem;

  &::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    top: -7px;
    left: 15px;
    clip-path: polygon(-6px -6px, 100% 0, 0 100%);
    transform: rotate(45deg);
  }
}

%person__name {
  grid-template-columns: 2/3;
  grid-row: 1/2;
  display: absolute;
  font-size: 20px;
  color: #808080;
  display: flex;
  padding-top: 15px;
  padding-bottom: 20;
  margin-left: -140px;
}


%image__reviewer {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

%info__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
  font-weight: medium;
  color: #808080;
  display: absolute;
  margin-top: 30px;
}

%career__data {
  padding-bottom: 15px;
  margin-left: -140px;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}
