@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
  }

  body {
    margin: 0 80px;
  }

  .column[span-tablet$="+4"] {
    grid-column: auto / span 4;
  }

  .grid__connect {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: auto / span 4;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 15px;

    label.connect__disc-blue {
      font-size: 4.5vw;

      & .icon__codewars {
        font-size: 6.5vw;
      }
    }
  }

  .skills__legend-list {
    width: 50%;
  }

  .os__project-blue-link {
    justify-content: center;
    align-content: center;
    display: flex;
  }

  .os__pill-blue {
    width: 230px;
  }

  .grid__portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;

    .recent__project {
      grid-column: auto / span 1;
    }
  }
}
