- var sectionTitle=data['connect'].sectionTitle
include ../section-title/section-title

.column(span="row")
    .connect__avatar
.column(span="row")

.column(span="1")
    .connect__disc
         .icon__codetap 
        
.column(span="1")
    .connect__disc
        .icon__github

.column(span="1")
    .connect__disc
        .icon__linkedin 

.column(span="1")
    .connect__disc
        .icon__stackoverflow 

.column(span="1")
    .connect__disc
        .icon__codewars 

.column(span="1")
    .connect__disc
        .icon__udemy 

.column(span="1")
    .connect__disc
        .icon__facebook

.column(span="1")
    .connect__disc
        .icon__skype 
        
.column(span="1")
    .connect__disc
        .icon__instagram 
.column(span="1")
    .connect__disc
        .icon__twitter 