- var sectionTitle = data['connect'].sectionTitle
include ../section-title/section-title.pug 

.column(span="row")
  .connect__avatar 

.column(span="row")
  button.disc__green
    i.icon__arrow-down
