.connect__avatar {
  padding-top: 100%;
  background-color: white;
  position: relative;
  border-radius: 8px;
  transform: rotate(-2.5deg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);


  &::after {
    content: '';
    border-radius: 6px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    padding: 10px;
    background-image: url('asset/image/image.jpg');
    background-size: cover;
  }
}

.connect__radio:checked+.column .connect__disc {
  background-color: #d52027;
}

.description-box__footer,
.description-box__body{
  padding: 20px;
}

.description-box__footer{
  display: flex;
  justify-content: center;
}

.connect_radio:nth-of-type(3):checked ~ [data-description-box="3"] .description-box__with-arrow {
  display: initial;
}

.description-box__body{
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}
.description-box__with-arrow{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius:6px;
  background-color: #f5f5f5;
  position: relative;
  margin-top: 1rem;


  display: none;
  
  &::after {
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    top: -7px;
    left: 15px;
    clip-path: polygon(-6px -6px, 100% 0, 0 100%);
    transform: rotate(45deg);
  }
}
.description-box__header{ 
  padding: 20px;
  display: flex;
}

.description-box__title{
  flex-grow: 1;
  line-height: 40px;
  font-weight: 500;
  font-size: 22px;
  text-transform: capitalize;
}

.description-box__detalii{
font-size: 14px;
line-height: 30px;
}

.connect__disc {
  transition: 250ms;
  background-color: #1875f0;
  border-radius: 50%;
  font-size: 6vw;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  

  [for="oricevreitu-reset"] {
    width: 40px;
    color: white;
  }

 }
[class^="icon__"] {
  text-align: center;
  line-height: 1.7;
  color: white;
}