.connect__avatar {
  padding-top: 100%;
  background-color: red;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-image: url('asset/image/image.jpg');
  }
}
