- 
  var sectionId = "porumbei"
  var titluText = data.porumbei.titluText
include ../titlu/titlu.pug

each animal in data.porumbei.listaPorumbei
  .column(span="row")
    .contact__image(porumbel=animal)
  .column(span="row" height="10")

.column(span="row")
  button.circle__button--green
      i.icon__arrow-up
.column(span="row" height="10")
