- var sectionTitle = data.experience.sectionTitle 
include ../section-title/section-title.pug

.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")


