.experience__list {
   @extend %rounded-border-list
}

.experience__item {
   @extend %list-item;
}

.experience__chevron{
   grid-column: 3/4;
}

.experience__chevron,
.experience__logo {
   grid-row: 1/3;
}

.experience__job-title {
   grid-column: 2/3;
   grid-row: 1/2;
}

.experience__company-name {
   grid-column: 2/3;
   grid-row: 2/3;
}

.experience__body {
   grid-column: 1/-1;
}

.experience__logo-image{
   border-radius: 50%;
   margin: 20px;
}

.experience__job-title,
.experience__company-name {
   line-height: 20px
}
.experience__job-title {
   margin-top:20px;
   font-weight: bold;
}
.experience__company-name{
   line-height: 20px;
   font-style: italic;
}

.experience__chevron{
   margin: 25px;
   width: 40px;
   height: 40px;
   border: 2px solid #707070;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   
   .icon__arrow-up {
   color: black;
   transform: rotate(180deg);
   }
}