- var sectionTitle = data.experience.sectionTitle
//- pentru a scrie cod JavaScript in pug folosim semnul -, daca dorim sa scriem mai multe linii de cod JavaScript dupa - dam enter si indentam cu un tab
include ../sectiunea-titlu/sectiunea-titlu 

.column(span="row" height="10")
.column(span="row")
  ul.lista__experienta
    each job in data.experience.jobList
      li=job.jobTitle
.column(span="row" height="10")
.column(span="row")
  .button.buton__disc-verde
    i.icon__arrow-down
.column(span="row" height="10")


