.circle-red {
  background-color: #D52027;
}

.circle-green {
  background-color: #50D166;
}

.circle-red,
.circle-green {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  color: #fff;
  margin: 20px auto;
}

.name,
.profession {
  font-weight: 600;
  color: #707070;
  text-align: center;
}

.name {
  font-size: 48px;
  line-height: 64px;
}

.profession {
  font-size: 36px;
  line-height: 48px;
}


.welcome-info {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #808080;
}

.about-me-box {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0,0.25);
  border-radius: 6px;
  padding: 20px;
}

.about-me-box-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #707070;
}

.section-title-wrapper {
  padding: 10px;
  height: 60px;
  background-color: #d52027;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.section-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
}