.column(span="row")
  .titlu Bine ați venit!
.column(span="row")
  button.circle__button
    i.icon__
    span W
.column(span="row")
  h1 Tandemul Oncescu
.column(span="row")
  h2 Oncescu Toma si Oncescu Laurentiu
.column(span="row")
  h3 Despre noi
.column(span="row")
  .aboutus__box
    p Proiectul nostru a inceput in toamna anul 2013 si a anului 2014 cand au fost achizitionati porumbeii de reproductie.
    p In anul 2015 am concurat la zborurile cu puii in cadrul UCPR-Club Valea Dambovitei reusind performanta de a ocupa locurile 1 si 3 pe club la etapa de Nikolaev-554km, locul 5-lansare si locul 1 inele derby club!
    p Din anul 2016 am activat in cadrul Clubului Cindesti(in prezent CSC Voinesti) reusind inca din acel an sa obtinem locul 3 Viteza Pui Expozitie UCPR!
    p Am incercat an de an sa imbunatatim rezultatele reusind sa facem perfomante atat la nivelul clubului cat si la nivelul uniunii! Varful performantei noastre a fost atins in anul 2020 cand am reusit sa devenim campioni nationali la 4 categorii(norme) diferite!
    p Detinem porumbei de la crescatori de top, in principal:Andrei Marius, Cosmin Olteanu si Popescu Petre Mihai! Zburam si incercam sa facem performanta la toate categoriile(normele) din cadrul UCPR!
    p Va invitam sa navigati pe site-ul nostru si sa descoperiti cat mai multe lucruri interesante si totodata benefice pentru dvs. SUCCES SPORTULUI COLUMBOFIL!
.column(span="row")
  button.circle__button
    i.icon__arrow-down
    span AD
