.section-title Let's get to know each other
button.circle
  i.icon__youtube
  span.text-for-button YT
h1 Laurentiu Oncescu
h2 Junior Web Developer
h3 Some info about me
.about-me-box
  p I am a shy person which once I manage to attach myself to someone or a group of people I can't stop talking.
    |Once someone becames a part of my life I like to help them and see them succed.Happy people makes me happy too.
    |I want to see more happy people.In the end this what'll remain with,all the interactions and emotions with people that we met.
  p I like working in web development because web offers me the posibility to work on projects that can be seen by a lot of people around the globe.
    |While I work on a project I can see my work taking shape every minute,for me this is a very important thing because this makes me feel very happy.
button.btn-download
  i.icon__download
  span.text-for-button Click to get my CV