* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

.content {
  padding: 0 36px;
}

input[type="radio"] {
  display: none;
}

.button-text{
  padding-left: 12px;
}

a.button__download--albastrel {
  text-decoration: none;
}