* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  overflow: hidden;
}

.content {
  padding: 0 36px;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

input[type="radio"] {
  display: none;
}

a {
  text-decoration: none;
}
