*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"]{
  grid-column: 1/-1;
}

.column[height="10"]{
  height: 10px;
}

.content{
  padding: 0 36px;
}

input[type="radio"]{
  display:none;
}

.button-text{
  padding-left: 12px;
}

a.pill--blue{
  text-decoration: none;
}
