* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}

.content {
  padding: 0 36px;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid__connect,
.grid__portfolio,
.grid__recommendation,
.grid__review {
  display: contents;
}

.about-me-content,
.skills-content,
.experience-content,
.os-content,
.portfolio-content,
.review-content,
.recommendation-content,
.proud-content {
  display: contents;
}

.column[span="1"] {
  grid-column: auto / span 1;
}

.column[span="row"] {
  grid-column: 1/-1;
}

input[type="radio"] {
  display: none;
}

a {
  text-decoration: none;
}
