* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'Roboto', sans-serif;
}

.content {
  padding: 0 36px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

input[type="radio"] {
  display: none;
}
