// Reset padding,margin and box sizing to all elements
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[height="10"] {
  height: 10px;
}

.column[span^="row"] {
  grid-column: 1/-1;
}

.column[span^="row-4"] {
  grid-column: span 4;
}

.content {
  padding: 0 36px;
}

input[type="radio"] {
  display: none;
}

.text-for-button {
  padding-left: 12px;
}

a.btn-download-blue {
  text-decoration: none;
}
