$icomoon-font-family: "porumbei-icon" !default;
$icomoon-font-path: "asset/font" !default;

$icon__arrow-down: "\e900";
$icon__arrow-up: "\e901";
$icon__book: "\e902";
$icon__commits: "\e903";
$icon__cross: "\e904";
$icon__download: "\e905";
$icon__earth: "\e906";
$icon__facebook: "\e907";
$icon__forks: "\e908";
$icon__heart: "\e909";
$icon__info: "\e90a";
$icon__instagram: "\e90b";
$icon__link: "\e90c";
$icon__menu: "\e90d";
$icon__rotate: "\e90e";
$icon__stars: "\e90f";
$icon__trophy: "\e910";
$icon__twitter: "\e911";
$icon__user: "\e912";
$icon__youtube: "\e913";

