.column(span="row")
  .section__title-wrapper
    .section__title=sectionTitle
.column(span="row" height="10")
.column(span="row").youtube
  iframe( width="305" height="180" src="https://www.youtube.com/embed/5EYk7Cp9Eow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).youtube
  button.button__disc--red 
    i.icon__youtube
.column(span="row" height="10")
