 
.column(span="row")
  .section-title-wrapper
    .section-title=sectionTitle
.column(span="row" height="10")
.column(span="row")
  button.circle-red
    i.icon__youtube
.column(span="row" height="10")