.youtube__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.youtube {
  display: none;
  transition: 0.5s ease-out;
  flex-direction: column;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  z-index: 3;
  .close {
    position: fixed;
    top: 274px;
    right: 16px;
    // font-size: 20px;
  }
}

.youtube__checkbox {
  display: none;

  &:checked {
    ~ .youtube {
      display: flex;
      justify-items: center;
      align-items: center;
    }
  }
}
