iframe {
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 170%;
}

.popup {
  position: fixed;
  z-index: 1;
  background: rgba(0,0,0,0.7);
  top: 50px;
  
}

.youtube {
  display: none;
  transition: 0.5s ease-out;
  flex-direction: column;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.content__buton {
  width: 450px;
  height: 220px;
  z-index: 99999;
  align-content: center;
  margin-top: 92px;
  left: 0; 
}

.youtube__checkbox {
  display: none;

  &:checked {
    ~.youtube {
      display: flex;
      justify-items: center;
      align-items: center;
    }
  }
}

.buton__inchis {
  position: fixed;
  top: 20px;
  right: 3px;
  font-size: 20px;
  border: 2px solid #1875f0;
  padding: 5px;
  border-radius: 50%;
  background: #1875f0;
  color: white;
}

// .popup.active .overlay {
//   display: block;
// }

// .popup.active .content__buton {
//   transform: all 300ms ease-in-out;
//   transform: translate(-50%,-50%) scale(1);
// }
