.skills__legend {
  border-radius: 6px;
  border: 2px solid #707070;
  align-items: center;
}

.skills-key,
.skills-icon,
.skills_legend_item {
  padding: 10px 12px 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}

.skills_legend_item:not(:last-child) {
  border-bottom: 2px solid #707070;
}

.skills_legend_icon:hover {
  background-color: hsl(0, 0%, 94%);
}


.skills-label {
  line-height: 48px;
  color: #999999;
  flex-grow: 1;
}

.icon__ {
  &heart {
    color: #FD004D;
  }
  &trophy {
    color: #2DD070;
  }
  &book {
    color: #f29e1a;
  }
}
