- var sectionTitle = data.skills.sectionTitle; //- pentru ca nu are semnul "-"" vom scrie data.skills.sectionTitle altfel scriem ca in about-me intrucat "-" devine operator, desi merge scris si ca string
include ../sectiunea-titlu/sectiunea-titlu 

.column(span="row")
  h3.despre-mine__subtitlu=data.skills.legend.title
.column(span="row")
  ul.lista__skills
    each item, cheie in data.skills.legend.listaItemi
      li.skills__item
        span.skills__icon(class=`icon__${item.icon}`)
        span.skills__label=item.label
        span.skills__count=cheie + 1
