.skills-list { 
   @extend %rounder-border-list
}

.skills__item {
    display: flex;
    
    &:not(:last-child) {
        @extend %list-item;
    }


    &:first-child .skills__icon { 
        color: #D52027;
    }
    &:nth-child(2) .skills__icon { 
        color: #50D166;
    }

     &:last-child .skills__icon { 
         color: #F18F1C;
    }
     
}

.skills__count,
.skills__icon {
    padding: 10px 12px 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.skills__icon,
// .skills__count,
.skills__label { 
    line-height: 48px;
}

.skills__label { 
    flex-grow: 1;
    color: #999999;
}

.skills__count {
    color: #666666;
    font-size: 18px;
}


.skills_skill--heart { 
    background-color: #D52027;
    ;
}
.skills_skill--trophy { 
    background-color: #50D166;
}
.skills_skill--book { 
    background-color: #F18F1C;
}

.skills_skill--heart, 
.skills_skill--trophy,
.skills_skill--book { 
  font-weight: bolder;  
  font-size: 12px;
  color: white; 
  padding: 0 18px;
  line-height: 30px;
  border-radius: 15px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}