.column(span="row")
  .section__title-wrapper
    .section__title=sectionTitle
.column(span="row" height="10")
.column(span="row")
  button.buton__disc-rosu 
    i.icon__youtube
.column(span="row" height="10")
