.projectPortofolio {
  @extend %rounded-border-list;
  width: 302px;
  margin-bottom: 50px;
}

.portofolioItem {
  @extend %list-item;

  &:last-child {
    border-bottom: none;
    position: relative;
  }

  &:first-child {
    padding: 10px 20px;
  }
}

.projectPortofolio__image {
  width: 298px;
  height: 100px;
  border-radius: 0 0 5px 5px;
}
