- var sectionTitle = data['portofolio'].sectionTitle
include ../section-title/section-title.pug

.column(span="row")
  .ab__stat=data['portofolio'].proiecte.numepro
  ul.ab__proiecte-list
    each proiecte in data['portofolio'].proiectList
      .ab__proiect-corp
        .appc
          each item , cheie in proiectList.skillGained
            li.ab__proiect-punct 
              input(
          type="checkbox"
          id=`portofolio__checkbox-${cheie}`
        ).experience__checkbox
.column(span="row" height="10")
.column(span="row")
  button.buton__disc-dolarel
    i.icon__arrow-down
.column(span="row" height="10")
