.connect__disc {
  transition: 250ms;
  background: #1875f0;
  border-radius: 50%;
  padding-top: 100%;
  position: relative;
  color: white;
  display: block;
  cursor: pointer;

  [class^="icon__"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
  }
}

.connect__radio:checked + .column .connect__disc {
  background-color: #d52027;
}

.connect__avatar {
  padding-top: 100%;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: rotate(-2.5deg);

  &::after {
    content: "";
    border-radius: 6px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-size: cover;
    background-image: url("/asset/image/me.jpg");
  }
}

.about-box-arrow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background-color: white;
  position: relative;
  margin-top: 1rem;

  &::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    top: -7px;
    left: 15px;
    clip-path: polygon(-6px -6px, 100% 0, 0 100%);
    transform: rotate(45deg);
  }
}

.about-box__header {
  padding: 20px;
  display: flex;
}
.about-box__title {
  flex-grow: 1;
  line-height: 40px;
  font-weight: 500;
  font-size: 22px;
  text-transform: capitalize;
}

[for="connect__label--reset"] {
  width: 40px;
  color: white;
}

.about-box__close {
  width: 40px;
}

.about-box__footer,
.about-box__body {
  padding: 20px;
}

.about-box__footer {
  display: flex;
}

.about-box__body {
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}
.about-box__footer {
  padding: 20px;
}

p.description-box__p {
  font-size: 14px;
  line-height: 30px;
}

@for $i from 1 through 10 {
  .connect__radio:nth-of-type(#{$i}):checked
    ~ [data-about-box="#{$i}"] {
    display: block;
  }
}

[data-about-box] {
  display: none;
}
