.os__stat,
.os__project {
  @extend %subtitle;
}

.os__stat-list {
  @extend %rounder-border-list;
  margin-bottom: 0;
  background-color: white;
}

.os__stat-item {
  @extend %list-item;
  display: grid;
  grid-template-columns: 40px 1fr auto;
  grid-template-rows: 1fr 1fr;
  
  &:first-child {
    border: 0;
  }
  
  .os__stat-icon i[class="icon__codewars"] {
    font-size: 23px;
  }
}

.os__stat-icon {
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/3 ;
}

.os__stat-description {
  font-size: 13px;
  font-weight: 700;
  color: #707070;
  grid-column: 2/3;
  grid-row:1/3 ;
  line-height: 22px;
  padding: 10px;
  padding-left: 0;
}

.os__project-name {
  font-size: 13px;
  font-weight: 700;
  padding: 20px;
  padding-bottom: 10px;
}

.os__skill-list {
  line-height: 20px;
  font-size: 12px;
  font-style: italic;
  padding: 0 20px 10px 20px;
}

.os__project-stat {
  padding: 0;
  background-color:white;
  line-height: 10px;
  left: 0;
  right: 0;
  bottom: -1px;
  position: absolute;
  
  span[class$="HTML"] {
    background-color: #F0E218;
  }

  span[class$="JavaScript"] {
    background-color: #1875F0;
  }

  span[class$="TypeScript"] {
    background-color: #20D55D;
  }

  span[class$="CSS"] {
    background-color: #D52027;
  }

  span[class^="coloana-"] {
    display: inline-block;
  }
}

.os__project-body {
  display: none;
  list-style-type: none;
}

.icon__cross {
  display: none;
}

.os__checkbox {
  display: none;

  &:checked ~ .os__project-list .os__project-body {
    display: initial;
  }
}

.os__checkbox:checked ~ .os__project-list .os__buttons { 
  & .icon__info {
    display: none;
  }
  & .icon__cross{
    display: block;
  }
}


.os__project-item {
  background-color: white;
  @extend %rounder-border-list;
  color: #707070;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 0;
}

.os__info-mandatory {
  right: 10px;
}

.os__info-extra {
  border: 0;
  display: inline-block;
}

.os__info-mandatory,
.os__info-extra {
  cursor: pointer;
  background-color: #FF006D;
  height: 40px;
  width: 40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.os__buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.os__project-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.os__project-stats {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.os__project-stat-icon {
  margin-right: 10px;
  font-size: 18px;
}

.os__dot-color {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.os__dot {
  display: grid;
  grid-template-columns: 15px 1fr;
  justify-content: center;
  align-items: center;
}

.os__project-dots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.os__dot-name {
  font-size: 14px;
  font-weight: 500;
}

.os__project-body li {
  width: 100%;
  @extend %list-item;
  padding: 20px;
}

.os__pill-blue {
  @extend %pill-blue;
  text-decoration: none; 
  margin: 0 40px;
}

.os__pill-blue i[class="icon__github"] {
  font-size: 15px;
  margin-right: 10px;
}
