- var sectionTitle = data["open-source"].sectionTitle
include ../section-title/section-title.pug

.column(span="row" height="10")
.column(span="row")
   h3.open-source__moreTitle= data["open-source"].moreTitle
