- var sectionTitle = data["open-source"].sectionTitle
include ../section-title/section-title.pug

.column(span="row" height="10")
.column(span="row")
   h3.open-source__moreTitle= data["open-source"].stat.moreTitle
.column(span="row" height="10")
.column(span="row")
  ul.stats__box
    each item in data["open-source"].stat.itemList
       li(class=`stats_list`)
         span(class=`icon__${item.icon}`)(class=`iconite`)
         span 
            each label in item.label
               span(class='casute')=label
.column(span="row" height="10")
.column(span="row")
   h3.open-source__secondTitle= data["open-source"].stat.secondTitle

.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
