- var sectionTitle = data['open-source'].sectionTitle
//- pentru a scrie cod JavaScript in pug folosim semnul -, daca dorim sa scriem mai multe linii de cod JavaScript dupa - dam enter si indentam cu un tab
include ../sectiunea-titlu/sectiunea-titlu 
//- am importat fisierul sectiunea-titlu.pug din folderul _component care contine folderul sectiunea-titlu
.column(span="row")
  h3.despre-mine__subtitlu=data['open-source'].subtitlu
.column(span="row")
.column(span="row")
