.menu__list {
  @extend %rounder-border-list;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  display: none;
}

.menu__item {
  line-height: 30px;

  & .menu__link {
    display: block;
    padding: 10px 20px 0 10px;
  }

  & .menu__close,
  & .menu__link,
  & .menu__link:visited,
  & .menu__link:active {
    text-decoration: none;
    color: #808080;
  }

  & .menu__close:hover,
  & .menu__link:hover {
    color: white;
    background-color: #ff006d;
  }

  & .menu__close {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px 0 10px;

    & .text {
      margin-left: 35px;
    }

    & .icon__cross {
      color: black;
      font-size: 25px;
      cursor: pointer;
    }
  }
}

.icon__menu {
  display: initial;
  position: fixed;
  bottom: 40vw;
  right: 0vw;
  background-color: white;
  padding: 8px;
  border: 2px solid #707070;
  border-radius: 6px;
}

#toggle-menu-mobile {
  display: none;

  &:checked + ul.menu__list {
    text-align: right;
    display: block;
    position: fixed;
    width: auto;
    height: auto;
    top: 250px;
    right: 10px;
  }

  &:checked + ul.menu__list + label {
    .icon__menu {
      display: none;
    }
  }
}

@media (max-width: 999px) {
  .desktop {
    display: none;
  }
}
