.menu-wrap
  input.toggler(type='checkbox' id="toggler")
  i.icon__menu
  .menu 
    ul
      li.box
          a(href='#') About Me
          a(href='#') Lets Connect 
          a(href='#') Skills
          a(href='#') Experience
          a(href='#') Open Source
          a(href='#') Portfolio
          a(href='#') Recommendations
          a(href='#') Reviews
          a(href='#') I'm Proud
          label(for="toggler") 
            i(class="icon__cross") Close Menu


