* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.grid {
  display: grid;
  grid-gap: 10px;
  // grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (min-device-width: 768px) and (max-device-width: 1024px) {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
  }
}

.column[span="row"] {
  grid-column: 1/-1;
}
.column[span="4"] {
  grid-column: span 4;
}

.column[heigh="10"] {
  height: 10px;
}

.content {
  padding: 0 36px;
}

input[type="radio"] {
  display: none;
}

.button-text {
  padding-left: 12px;
}

.button__pill-blue {
  text-decoration: none;
}
