.recommendation {
  margin-bottom: 20px;
}

.recommendation-data {
  display: grid;
  grid-template-columns: 64px auto;
  column-gap: 10px;
  grid-template-rows: 32px 32px;
  margin-bottom: 15px;
}

.rec-image {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 50%;

  & .imagine {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    border: 2px solid white;
  }
}

.rec-role {
  @extend %descriptive-subcolumn;
}

.rec-name {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  grid-row: 1/2;
  font-weight: 500;
  font-size: 22px;
  color: #808080;
}

.recommendation-description {
  font-weight: 500;
  font-size: 14px;
  color: #808080;
  margin: 25px 0 20px 0;
}

.recommendation-description {
  @extend %box-with-arrow;
  padding: 20px;
  line-height: 30px;
}
