#recommendations
- var sectionTitle = data.recommendation.sectionTitle
include ../section-title/section-title.pug 

.recommendation-content
  .column(span="row" style=`margin-top:35px`)
    .grid__recommendation
      each rec in data.recommendation.rec 
        .recommendation
          .recommendation-data
            .rec-image
              img(class="imagine", src=`${rec.avatarPath}`, alt="")
            .rec-name=rec.name 
            .rec-role=rec.role
          .recommendation-description
            each p in rec.description 
              p=p

.column(span="row")
  a.disc__green(href="/#review")
    .icon__arrow-down
