doctype html 
html 
  head 
    title My CV V2 Junior
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body 
    .content
      .grid 
        include _component/about-me/about-me.pug
        include _component/connect/connect.pug
        include _component/skills/skills.pug
        include _component/experience/experience.pug
        include _component/open-source/open-source.pug
        include _component/portfolio/portfolio.pug
        include _component/recommendations/recommendations.pug
        include _component/proud/proud.pug
        include _component/reviews/reviews.pug
