doctype html 
html 
  head 
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title My CV as a Junior Web Developer
  link(rel="stylesheet", href="style.css")
  body 
    .content 
      .grid
        include _component/about-me/about-me.pug
        include _component/connect/connect.pug
        include _component/skills/skills.pug
