doctype html 
html 
    head 
      title Imi place sa scriu cod tarziu in noapte 
      link(rel="stylesheet", href="style.css")
    body 
      .content 
        .grid 
          include _component/about-me/about-me.pug