doctype html
html
  head
    title This is the page title xD
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .content
      .grid
        include _component/welcome-section/welcome-section.pug
        include _component/contact/contact
        include _component/vraji/vraji