doctype html 
html 
  head 
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title My CV as a Junior Web Developer
  link(rel="stylesheet", href="style.css")
  body 
    input.youtube__checkbox(type="checkbox", id="portrait")
    .portrait
      .close
        label(for="portrait").disc__green
          i.icon__cross
      .portrait__body
        img(src="asset/image/device.png", alt="").image-device
        a.youtube__video(href="https://www.youtube.com/watch?v=0VvTBwJQMoQ&t=15s")
          img(src="asset/image/youtube.png", alt="")

    .content 
      .grid
        include _component/about-me/about-me.pug
        include _component/connect/connect.pug
        include _component/skills/skills.pug
        include _component/experience/experience.pug
        include _component/open-source/open-source.pug
        include _component/portfolio/portfolio.pug
        include _component/recommendation/recommendation.pug
        include _component/review/review.pug
        include _component/proud/proud.pug
        include _component/menu/menu.pug
