doctype html 
html
    head 
        title pubg it s look to be more wasy than i expect , so let's have fun  
        link(rel="stylesheet", href="style.css")

    body 
        .content 
         .grid 
            include _component/about-me/about-me.pug
    