doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Here I insert Page Title
    title Pagina de acasa
    link(rel="stylesheet", href="style.css")
  //- Here start content of my page
  body
      .content 
        .grid
          include _component/about-me/about-me
          include _component/connect/connect
          include _component/skills/skills
          include _component/experience/experience
          include _component/open-source/open-source
          //- include _component/tester-q/tester-q
          





