<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Tandemul Oncescu,Oncescu Laurentiu,Porumbei voinesti,porumbei,columbofil,ucpr")
    link(rel="stylesheet", href="style.css")
    title Tandemul Oncescu
  body
    .content
      .grid
        include _component/menu/menu
        include _component/welcome-section/welcome-section
        include _component/contact/contact
        include _component/porumbei/porumbei
        include _component/matca/matca
