doctype html 
html 
  head 
    title My CV as a Junior Web Developer
    description 
  body 
    .content 
      .secton-title Welcome to My CV
      button.disc
        i.icon__youtube 
      h1 Raluca Ghintuiala 
      h2 Junior Web Developer 
      h3 About me 
      .description-box__about-me 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nostrum minima doloribus dolor reiciendis ad voluptate aperiam aliquam officia a expedita hic, molestiae placeat, tempora explicabo nemo eum ratione quaerat!

      button.pill
        i.icon__download 
        span.button-text Download My CV

      button.disc 
        i.icon__arrow-down
