@import '_component/config/reusable.scss';
@import '_component/layout/roboto-font.scss';
@import '_component/layout/layout.scss';
@import '_component/section-title/section-title.scss';
@import '_component/burger/burger.scss';
@import '_component/about-me/about-me.scss';
@import '_component/connect/connect.scss';
@import '_component/skills/skills.scss';
@import '_component/experience/experience.scss';
@import '_component/open-source/open-source.scss';
@import '_component/portfolio/portfolio.scss';
@import '_component/recommendations/recommendations.scss';
@import '_component/reviews/reviews.scss';
@import '_component/proud/proud.scss';
@import '_asset/font/style.scss';
@import '_component/layout/tablet.scss';
@import '_component/layout/desktop.scss'
