@import '_component/config/reusable.scss';
@import '_component/layout/font.scss';
@import '_component/layout/layout.scss';
@import '_component/section-title/section-title.scss';
@import '_component/about-me/about-me.scss';
@import '_component/connect/connect.scss';
@import '_component/skills/skills.scss';
@import '_component/experience/experience.scss';
@import '_component/open-source/open-source.scss';
@import '_component/portfolio/portfolio.scss';
@import '_component/recommendation/recommendation.scss';
@import '_component/review/review.scss';
@import '_component/proud/proud.scss';
@import '_component/menu/menu.scss';
@import '_component/config/tablet.scss';
@import '_component/config/desktop.scss';
@import '_asset/font/font.scss';
