@import "./_component/config/reusable.scss";
@import "_component/_layout/layout";
@import "_component/_layout/roboto";
@import "./_component/about-me/about-me.scss";
@import "./_component/_connect/connect.scss";
@import "./_component/section-title/section-title.scss";
@import "./_component/_skills/skills.scss";
@import "./_asset/font/style.scss";
@import "./_component/experience/experience.scss";
@import "./_component/open-source/source.scss";
@import "./_component/experience/experience.scss";
@import "./_component//portfolio/portfolio.scss";
@import "./_component/recommandation/recommandation.scss";
@import "./_component/reviews/reviews.scss";
@import "./_component/proud/proud.scss";
