.info__box {
  @extend %info__box;
}

.image__reviewer {
  @extend %image__reviewer;
}

.person__name {
  @extend %person__name;
}

.data {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  color: rgb(66, 135, 245);
  padding-bottom: 15px;
  margin-left: -75px;
}

.box__header {
  @extend %box__header;
}

.box__text {
  display: flex;
}
