- var titluText=data.contact.titluText
include ../titlu/titlu

.column(span="row")
  .contact__image
.column(height="10")
.column(span="row")
.column(span="1")
  .contact__button
    .icon__twitter
.column(span="1")
  .contact__button
    .icon__twitter
