- var {sectionTitle}=data['contact']
include ../section-title/section-title

.column(span="row")
  .contact__profile-picture
.column(span="row" height="10")
each iconita in data.contact.iconsList
  input.contact__radio(type="radio")
  .column(span="1")
    .contact__icon
      div(class=`icon__${iconita.icon}`)

.column(span="row" height="10")
.column(span="row")
  button.circle-green
    i.icon__arrow-down
.column(span="row" height="10")