.contact__image {
  background-color: red;
  padding-top: 100%;
  position: relative;

  &::after {
    content: '';
    background-image: url('asset/image/tandemuloncescu.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}