.contact__profile-picture {
  padding-top: 100%;
  background-color: red;
  position: relative;

  &::after {
    content: '';
    background-image: url('asset/image/Instagram 1080 x 1080 - london.jpg');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
  }
}