- var {sectionTitle}=data['contact']
include ../section-title/section-title

.column(span="row")
  .contact__profile-picture
.column(span="row")
.column(span="1")
  .contact__icon
    .icon__codetap
.column(span="1")
  .contact__icon
    .icon__codetap