- var { sectionTitle } = data.recomandari
include ../section-title/section-title

each recomandare in data.recomandari.recomandariList 
  .column(span="row" height="10")
  .column(span="row")
    .profileTitle
      img.profileImg(src=`asset/image/profile/${recomandare.profilePicture}`)
      .recom-profile__text
        h3.semi__title=recomandare.profileName
        p.profileJob=recomandare.profileJob
  .column(span="row")
  .column(span="row")
    .about-me-box
      p.about-me-box-text=recomandare.recomText
