.column(span="row") 
  .section__title-wrapper
    .section__title  Welcome to my CV
.column(span="row" height="10") 
.column(span="row") 
  button.button__disc--red 
    i.icon__youtube
.column(span="row" height="10") 
.column(span="row") 
  h1.about-me__name-title Maria-Teodora Cotofana
.column(span="row") 
  h2.about-me__job-title Junior Web Developer
.column(span="row" height="10") 
.column(span="row") 
  h3.about-me__more-tile More about me
.column(span="row") 
  .box__with-shadow
    p.description  I am passionate, hardworking, a quick learner used to working in a fast paced environment for long hours.
    p.description  Strong organisational and leading skills, efficient in meeting productivity targets, offering reliability and responsibility; charismatic and friendly.

.column(span="row" height="10") 
.column(span="row")
  button.pill--blue 
    i.icon__download
    span.button-text Download CV
.column(span="row" height="10") 
.column(span="row") 
  button.button__disc--green 
    i.icon__arrow-down
.column(span="row" height="10") 
