.column(span="row")
  .section__title-wrapper
    .section-title Welcome To My Bulletproof CV
.column(span="row")
  button.disc
    i.icon__youtube 
    span.text-button YOUTUBE
.column(span="row")
  h1 Ada Sagau
.column(span="row")
  h2 Junior Web Developer
.column(span="row")
  h3 My Info
.column(span="row")
  .info-box__with-shadow
    p I am proud to be part of CodeTap Academy, because I am truly passionate about coding and I aim to become a Pro Web Developer.    
    p I am a dynamic person who easily adapts to any situation and can work under pressure, meeting all the expectation.

.column(span="row")
  button.pill
    i.icon-download
    .span.text-button Check Me Out!
.column(span="row")
  button.disc
    i.icon__arrow-down
    span.text-button AD