.column(span="row")
  .section__title-wrapper
    .section__title Welcome to My CV
.column(span="row")
  button.disc 
    i.icon__youtube
    span.08feb-text Play
.column(span="row")
  h1 Constantin Matei
.column(span="row")
  h2 Junior Web Developer
.column(span="row")
  h3 About me
.column(span="row")
  .description-box__with-shadow 
    p I am Junior Web Developer with projects experience.
    p If you want to see my work, than you must enter on my github profile to view some projects of mine.
.column(span="row")
  button.pill 
    i.icon__download
    span.08feb-text Click here for CV
.column(span="row")
  .button.disc
    i.icon__arrow-down
    span.08feb-text AD
