.section-title Welcome to my CV 
button.disc
  i.icon_youtube
  span.button-text YT
.first-title
  h1 Andreea Bobariu
.second-title
  h2 Junior Web Developer
.description-title
  h3 About Me
.description-box 
  p I am a Junior developer. with a passion to learn continously and lallalala
button.download-cv 
  i.icon-download
  span.text-button Download my CV
  