.column(span="row")
    .section__title-wrapper 
     .section__title Welcome to My CV 
.column(span="row")
    button.disc
        i.icon__youtube
        span.inside-button YT 
.column(span="row")
    h1.about-me__first-title Andrei Maftei 
.column(span="row")
    h2.about-me__second-title Front End Developer 
.column(span="row")
    h3.about-me__third-title About me 
.column(span="row")
    .description-box__with-shadow 
        p.description My name is Andrei Maftei I'm a Junior Front-End Develoer based in London,UK 🌧️ . 
        p.description I describe myself as a passionate developer who loves coding, open source, and web platform 😎.

.column(span="row")
    button.pill 
        i.icon__download 
        span.inside-button Download CV  
.column(span="row")
    button.disc 
      i.icon__arrow-down 
      span.inside-button AD 
