.column(span="row")
  .section__title-wrapper
    .section__title Welcome to my CV
.column(span="row")
  button.button__disc--red
    i.icon__youtube
.column(span="row")
  h1.about-me__main-title Alexandra Monticelli
.column(span="row")
  h2.about-me__sub-title Junior web developer
.column(span="row")
  h3.about-me__lead-title About me...
.column(span="row")
  .description-box__with-shadow
    p.description Don't get upset about the dry well, because it doesn't give you water, rather ask yourself why you keep insisting on taking water where you already understood that you can't find it.

.column(span="row")
  button.button__pill--blue
    i.icon__download
    span.button-text Click here for CV
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
