.section-title  Welcome to my cv
button.disc
  i.icon__youtube 
  span.button-text Youtube
h1 Maria-Teodora Cotofana
h2 Junior Web Developer
h3 More about me
.box__with-shadow
  p I am passionate, hardworking, a quick learner used to working in a fast paced environment for long hours.
  p Strong organisational and leading skills, efficient in meeting productivity targets, offering reliability and responsibility; charismatic and friendly.

button.pill
  i.icon__download
  span.button-text Download My CV
