.column(span="row")
    .section-title Welcome, nice to meet you
.column(span="row")
    button.disc
      i.icon__youtube 
      span.button-dream YT 
.column(span="row")
    h1 Sebastian George Padure 
.column(span="row")
    h2 Junior Front-End Developer 
.column(span="row")
    h3 Know me Better 
.column(span="row")
    .description-box__shadow 
    p My journey in this career has already begun, will anyone be able to stop me?
    p I trust myself and if you want your business to prosper you are only a click away.

.column(span="row")
    button.get
      i.icon__get-it 
      span.button-dream Grub my CV 
.column(span="row")
    button.disc 
      i.icon__arrow-down 
      span.button-dream AD


