.column(span="row") 
  .section__title-wrapper
    .section__title  Welcome to my cv
.column(span="row") 
  button.disc
    i.icon__youtube 
    span.button-text Youtube
.column(span="row") 
  h1 Maria-Teodora Cotofana
.column(span="row") 
  h2 Junior Web Developer
.column(span="row") 
  h3 More about me
.column(span="row") 
  .box__with-shadow
    p I am passionate, hardworking, a quick learner used to working in a fast paced environment for long hours.
    p Strong organisational and leading skills, efficient in meeting productivity targets, offering reliability and responsibility; charismatic and friendly.

.column(span="row")
  button.pill
    i.icon__download
    span.button-text Download My CV
.column(span="row") 
  button.disc
    i.icon__arrow-down 
      span.button-text AD
