.column(span="row")
  .section__title-wrapper
    .section-title Welcome To My Bulletproof CV
.column(span="row")
  button.disc
    i.icon__youtube 
    span.text-button YOUTUBE
.column(span="row")
  h1.about-me__name Ada Sagau
.column(span="row")
  h2.about-me__position Junior Web Developer
.column(span="row")
  h3.about-me__info My Info
.column(span="row")
  .info-box__with-shadow
    p.description I am a dynamic person who easily adapts to any situation and can work under pressure, meeting all the expectation.
    p.description I am proud to be part of CodeTap Academy, because I am truly passionate about coding and I aim to become a Pro Web Developer.    

.column(span="row")
  button.pill
    i.icon-download
    .span.text-button Check Me Out!
.column(span="row")
  button.disc
    i.icon__arrow-down
    span.text-button AD