.section-title Welcome to My CV
button.disc 
  i.icon__youtube
  span.08feb-text Play
h1 Constantin Matei
h2 Junior Web Developer
h3 About me
.description-box__with-shadow 
  p I am Junior Web Developer with projects experience.
  p If you want to see my work, than you must enter on my github profile to view some projects of mine.
button.pill 
  i.icon__download
  span.08feb-text Click here for CV
