.column(span="row")
    .section__title-wrapper 
     .section__title Welcome to My CV
.column(span="row" height="10")
.column(span="row")
    button.button__disc--red 
        i.icon__youtube
.column(span="row" height="10")
.column(span="row")
    h1.about-me__first-title Andrei Maftei 
.column(span="row")
    h2.about-me__second-title Front End Developer 
.column(span="row" height="10")
.column(span="row")
    h3.about-me__third-title About me 
.column(span="row")
    .description-box__with-shadow 
        p.description My name is Andrei Maftei I'm a Junior Front-End Developer based in London,UK 🌧️ . 
        p.description I describe myself as a passionate developer who loves coding, open source, and web platform 😎.
.column(span="row" height="10")
.column(span="row")
    button.button__push--me 
        i.icon__download 
        span.inside-button Download CV  
.column(span="row" height="10")
.column(span="row")
    button.button__disc--green 
      i.icon__arrow-down 
.column(span="row" height="10")