.section-title welcome to my cv
button.disc
    i.icon__youtube 
    span.button-text YT
h1 Iosif Screpciuc 
h2 Junior Front-End Developer
h3 About Me
.about-box 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ratione. Inventore iure sequi minima debitis, ipsum, dicta autem neque qui facere nihil nesciunt voluptatum quisquam quam. Est iste officia similique! 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos mollitia exercitationem rerum animi saepe corrupti tenetur temporibus cum, libero qui dolores unde impedit aperiam reprehenderit veritatis culpa autem ea doloribus.
button.pill 
    i.icon__download 
    span.button-text Download CV