.column(span="row")
  .section__title-wrapper
    .section__title Welcome to my CV
.column(span="row")
  button.disc
    i.icon__youtube
    span.button-text YTB
.column(span="row")
  h1 Alexandra Monticelli
.column(span="row")
  h2 Junior web developer
.column(span="row")
  h3 About me
.column(span="row")
  .description-box__with-shadow
    p Don't get upset about the dry well, because it doesn't give you water, rather ask yourself why you keep insisting on taking water where you already understood that you can't find it.

.column(span="row")
  button.pill
    i.icon__download
    span.button-text Click here for CV
.column(span="row")
  button.disc
    i.icon__arrow-down
    span.button-text AD
