.section-title Welcome, nice to meet you
button.disc
   i.icon__youtube 
   span.button-dream YT 
h1 Sebastian George Padure 
h2 Junior Front-End Developer 
h3 Know me Better 
.description-box__shadow 
   p My journey in this career has already begun, will anyone be able to stop me?
   p I trust myself and if you want your business to prosper you are only a click away.

button.get
   i.icon__get-it 
   span.button-dream Grub my CV 

