.column(span="row")
  .section__title-wrapper
    .section__title Welcome to My CV
.column(span="row")
  button.disc__red
    i.icon__youtube
.column(span="row")
  h1.creator Raluca Ghintuiala 
.column(span="row")
  h2.creator__title Junior Web Developer 
.column(span="row")
  h3.creator__about-me About me 
  .description-box__about-me 
    Lorem.description ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nostrum minima doloribus dolor reiciendis ad voluptate aperiam aliquam officia a expedita hic, molestiae placeat, tempora explicabo nemo eum ratione quaerat!
.column(span="row")
  button.pill__blue-primary
    i.icon__download
    span.button__text-primary Download My CV

.column(span="row")
  button.pill__blue-secondary
    i.icon__info 
    span.button__text-secondary View My CV

.column(span="row")
  button.disc__green
    i.icon__arrow-down
