.column(span="row")
    .section__title-wrapper
      .section__title Welcome, my CV is here 
.column(span="row" height="10")
.column(span="row")
    button.youtube__disc-red 
      i.icon__youtube 
.column(span="row" height="10")
.column(span="row")
    h1.about-me__name Sebastian  Padure 
.column(span="row")
    h2.about-me__job-title Junior Front-End Developer 
.column(span="row" height="10")
.column(span="row")
    h3.about-me__know-better  Know me Better 
.column(span="row")
    .description-box__shadow 
      p.details My journey in this career has already begun, will anyone be able to stop me?
      p.details I trust myself and if you want your business to prosper you are only a click away.

.column(span="row" height="10")
.column(span="row")
    button.button__get-blue 
      i.icon__download 
      span.button-dream Grub now my CV 
.column(span="row" height="10")
.column(span="row")
     button.button__disc-green 
      i.icon__arrow-down 
.column(span="row" height="10")


