.button__disc-green {
    background-color: #50D166;
}

.youtube__disc-red {
    background-color: #D52027;
}

[class^="icon__"] { 
    width: 16px;
    height: 16px;
}

.button__get-blue {
    height: 40px;
    margin: 0 auto;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 0 24px;
    display: inline-flex;
    font-size: 10px;
    font-weight: bolder;

}

.button__get-blue { 
    background-color: #1875F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube__disc-red,
.button__disc-green {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    color: white;
    margin: 0 auto;
    display: flex;
}

.about-me__name, 
.about-me__job-title {
    font-weight: 600;
    color: rgb(57, 69, 110);
    text-align: center;  
}

.about-me__name{ 
    font-size: 48px;
    line-height: 64px;
}

.about-me__job-title {
    font-size: 36px;
    line-height: 48px;
}

.about-me__know-better { 
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(118, 128, 160);
}

.description-box__shadow { 
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 6px;
}

.details { 
    font-size: 14px;
    color: rgb(57, 69, 110);
    font-weight: 600;
    line-height: 30px;
}

.section__title {
    height: 40px;
    line-height: 40px; 
    text-align: center; 
    color: white;
    position: relative;
    font-size: 24px;
    font-weight: 600;
}


.section__title-wrapper { 
   padding: 10px;
   height: 60px;
   background-color: #D52027;
   position: relative;
   
   &::before {
       position:absolute;
       content: '';
       background-color: #D52027;
       left: -36px;
       top: 0;
       bottom: 0;
       right: -36px;
    }
    &::after {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
        position:absolute;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
   }
}

   