.column(span="row")
    .section__title-wrapper
        .section-title Welcome to My CV
.column(span="row")
    button.disc-red
        i.icon__youtube 
        span.button-text 
.column(span="row")        
    h1.about-me__main-title Iosif Screpciuc 
.column(span="row")
    h2.about-me__sub-title Junior Front-End Developer
.column(span="row")
    h3.about-me__lead-title About Me
.column(span="row")
    .about-box 
        p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos mollitia exercitationem rerum animi saepe corrupti tenetur temporibus cum, libero qui dolores unde impedit aperiam reprehenderit veritatis culpa autem ea doloribus.
.column(span="row")
    button.button__pill-blue 
        i.icon__download 
        span.button-text Download CV

.column(span="row")
    button.disc-green     
        i.icon__arrow-down 
        span.button-text 