.section__title {
  margin: 10px;
  line-height: 40px;
  text-align: center;
  color: white;
  position: relative;
  font-size: 24px;
  font-weight: 600;
}

.section__title-wrapper {
  padding: 10px;
  height: 60px;
  background-color: #d52027;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-color: #d52027;
    left: -36px;
    top: 0;
    bottom: 0;
    right: -36px;
  }

  &::after {
    position: absolute;
    content: '';
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

}


.numele-meu,
.pozitia-mea,
.descrierea-mea {
  font-weight: 600;
  color: #707070;
  text-align: center;

}

.numele-meu {
  font-size: 40px;
  line-height: 64px;
}

.pozitia-mea {
  font-size: 36px;
  line-height: 48px;
}


.descrierea-mea {
  font-size: 22px;
  line-height: 30px;
}

.description-box__with-shadow {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 6px;
}

.descriere {
  font-size: 14px;
  color: #707070;
  font-weight: 600;
  line-height: 30px;
}

.button__download--albastrel {
  height: 40px;
  margin: 24px auto 0;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 0 24px;
  background-color: blue;
  display: inline-flex;
  align-items: center;
}


.buton__disc--foc,
.buton__disc-dolarel {
  margin: 0px auto;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  color: #fff;
}

.buton__disc--foc {
  background-color: #d52027;
}

/*button i[class^=icon__] {
  height: 16px;
  width: 16px;
  margin-right: 12px;
}*/

.buton__disc-dolarel {
  background-color: green;
}
