.column(span="row")
  .section__title-wrapper
    .section__title Welcome to My CV
.column(span="row")
  button.disc
    i.icon__youtube 
.column(span="row")
  h1 Raluca Ghintuiala 
.column(span="row")
  h2 Junior Web Developer 
.column(span="row")
  h3 About me 
  .description-box__about-me 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nostrum minima doloribus dolor reiciendis ad voluptate aperiam aliquam officia a expedita hic, molestiae placeat, tempora explicabo nemo eum ratione quaerat!
.column(span="row")
  button.pill
    i.icon__download 
    span.button-text Download My CV

.column(span="row")
  button.pill
    span.button-text View My CV

.column(span="row")
  button.disc
    i.icon__arrow-down
