.column(span="row")
  .section__title-wrapper
    .section__title Welcome to My CV
.column(span="row")
  button.buton__disc-rosu 
    i.icon__youtube
.column(span="row")
  h1.despre-mine__titlu-mare Constantin Matei
.column(span="row")
  h2.despre-mine__titlu Junior Web Developer
.column(span="row")
  h3.despre-mine__subtitlu About me
.column(span="row")
  .description-box__with-shadow
    p.descriere I am Junior Web Developer with projects experience.
    p.descriere If you want to see my work, than you must enter on my github profile to view some projects of mine.
.column(span="row")
  button.pastiluta-albastra
    i.icon__download
    span.cta-text Click here for CV
.column(span="row")
  .button.buton__disc-verde
    i.icon__arrow-down
