.section-title Welcome To My Bulletproof CV
button.disc
  i.icon__youtube 
  span.text-button YOUTUBE
h1 Ada Sagau
h2 Junior Web Developer
h3 My Info
  
.info-box__with_shadow
  p I am proud to be part of CodeTap Academy, because I am truly passionate about coding and I aim to become a Pro Web Developer.    
  p I am a dynamic person who easily adapts to any situation and can work under pressure, meeting all the expectation.

button.pill
  i.icon-download
  .span.text-button Check Me Out!