.column(span="row")
  .section-title Welcome to my CV 
.column(span="row")
  button.disc
    i.icon_youtube
    span.button-text YT
.column(span="row")
  .first-title
    h1 Andreea Bobariu
.column(span="row")
  .second-title
    h2 Junior Web Developer
.column(span="row")
  .description-title
    h3 About Me
.column(span="row")
  .description-box 
    p I am a Junior developer. with a passion to learn continously and lallalala
.column(span="row")
  button.download-cv 
    i.icon-download
    span.text-button Download my CV
.column(span="row")
  button.disc   
    i.icon-arrow-down
    span.arrow-down Arrow Down
    